<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 排除 API
  RewriteCond %{REQUEST_URI} !^/api

  # 如果是真實檔案或資料夾則直接存取
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # SPA fallback
  RewriteRule ^ index.html [L,QSA]
</IfModule>