[data-aos='p-fade'] {
  opacity: 0;

  &.aos-animate {
    opacity: 1;
  }
}
[data-aos='mini-in'] {
  opacity: 0;
  transform: scale(1.1);
  transform-origin: center;

  &.aos-animate {
    opacity: 1;
    transform: scale(1);
  }
}

[data-aos='scale-in'] {
  opacity: 0;
  transform: scale(.8);
  transform-origin: center;

  &.aos-animate {
    opacity: 1;
    transform: scale(1);
  }
}

[data-aos='scale-bottom'] {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;

  &.aos-animate {
    opacity: 1;
    transform: scaleY(1);
  }
}

[data-aos='scale-right'] {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;

  &.aos-animate {
    opacity: 1;
    transform: scaleX(1);
  }
}


[data-aos='sky-in'] {
  opacity: 0;
  transform: translateY(-100vh);
  transform-origin: top;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-aos='jump-in'] {
  opacity: 1;

  &.aos-animate {
    opacity: 1;
    animation: jump 1s 0 forwards;
  }
}


@keyframes jump {
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(0);
  }
  60%{
    transform: translateY(-15px);
  }
  80%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}

[data-aos='float1'] {
  opacity: 0;

  &.aos-animate {
    opacity: 1;
    animation: float1 1s 0s forwards;
  }
}

[data-aos='float2'] {
  opacity: 0;

  &.aos-animate {
    opacity: 1;
    animation: float2 1s 0s forwards;
  }
}

[data-aos='float3'] {
  opacity: 0;

  &.aos-animate {
    opacity: 1;
    animation: float3 1s 0s forwards;
  }
}

[data-aos='float4'] {
  opacity: 0;

  &.aos-animate {
    opacity: 1;
    animation: float4 1s 0s forwards;
  }
}

@keyframes float1 {
  from {
    transform: translate(-200px, -200px) rotate(30deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes float2 {
  from {
    transform: translate(-200px, 200px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes float3 {
  from {
    transform: translate(200px, -200px) rotate(0deg);
  }
  to {
    transform: translate(0px, 0px) rotate(30deg);
    
  }
}

@keyframes float4 {
  from {
    transform: translate(200px, 200px) rotate(60deg);
  }
  to {
    transform: translate(0px, 0px) rotate(30deg);
    
  }
}