.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.no-nav {
  height: 100vh !important;
}

.img-c {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}

.absolute-ac {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.absolute-c {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%) !important;
}

.flex-jc {
  display: flex;
  justify-content: center;
}

.flex-ac {
  display: flex;
  align-items: center;
}

.flex-ab {
  display: flex;
  align-items: flex-end;
}

.flex-at {
  display: flex;
  align-items: flex-start;
}

.flex-jb {
  display: flex;
  justify-content: space-between;
}

.flex-ja {
  display: flex;
  justify-content: space-around;
}

.flex-jr {
  display: flex;
  justify-content: flex-end;
}

.pl-100 {
  padding-left: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-90 {
  margin-bottom: 90px;
}

.m-auto {
  margin: 0 auto;
}

.scale-img-dialog {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 300;

  .mask {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
  }
  .content {
    width: 90vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: auto;

    img {
    }
  }
  .close {
    right: 10px;
    top: 10px;
    width: 40px;
    height: auto;
    position: fixed;
    z-index: 500;
    cursor: pointer;
  }
}

.line {
  background: #c8a064;
  //大小間距條這邊
  height: 2px;
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 300%;
      height: 100%;
      top: 0;
      left: 50%;
      background: linear-gradient(
        to right,
        rgba(200, 160, 100, 1) 0%,
        rgba(229, 198, 128, 1) 33%,
        rgba(245, 224, 153, 1) 43%,
        rgba(255, 253, 206, 1) 50%,
        rgba(245, 224, 153, 1) 57%,
        rgba(229, 198, 128, 1) 67%,
        rgba(229, 198, 128, 1) 67%,
        rgba(200, 160, 100, 1) 100%
      );
      animation: hrl 3s linear infinite;
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 300%;
    height: 6000%;
    top: calc(50% - 3000%);
    left: 50%;
    background: url('../../projects/tk/s1/l.png');
    background-size: 100% 100%;
    animation: hrl 3s linear infinite;
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes hrl {
  0% {
    transform: translateX(-70%) scaleX(0.5);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-30%) scaleX(0.5);
    opacity: 0;
  }
}

@keyframes hrr {
  0% {
    transform: translateX(-30%) scaleX(0.5);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-70%) scaleX(0.5);
    opacity: 0;
  }
}
.line_c{
  position: relative;
  background: #C8A064;
  //大小間距條這邊
  height: 2px;
  span{
    position: absolute;
    width:100%;
    height: 100%;
    overflow: hidden;
    top:0;
    left:0%;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 300%;
      height:100%;
      top:0;
      left:50%;
      background: linear-gradient(to right, rgba(200,160,100,1) 0%,rgba(229,198,128,1) 33%,rgba(245,224,153,1) 43%,rgba(255,253,206,1) 50%,rgba(245,224,153,1) 57%,rgba(229,198,128,1) 67%,rgba(229,198,128,1) 67%,rgba(200,160,100,1) 100%);
      animation: line_c 3s ease-in infinite;transform: translateX(-50%);
      opacity: 0;
    }
  }
  &::before{
    content: "";
    display: block;
    position: absolute;
    width: 300%;
    height:6000%;
    top:calc(50% - 3000%);
    left:50%;
    background: url('../../projects/tk/s1/l.png');
    background-size: 100% 100%;
    animation: line_c 3s ease-in infinite;transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes line_c {
  10% {transform: translateX(-50%) scale(.3,0);opacity: 0;}
  70% {transform: translateX(-50%) scale(.5,1); opacity: 1;}
  75% {transform: translateX(-50%) scale(.5,1); opacity: 1;}
  100% {transform: translateX(-50%) scale(2,0);opacity: 0;}
}



/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .flex-tablet-jc {
    display: flex;
    justify-content: center;
  }

  .flex-tablet-ac {
    display: flex;
    align-items: center;
  }

  .flex-tablet-ab {
    display: flex;
    align-items: flex-end;
  }

  .flex-tablet-at {
    display: flex;
    align-items: flex-start;
  }

  .flex-tablet-jb {
    display: flex;
    justify-content: space-between;
  }

  .flex-tablet-ja {
    display: flex;
    justify-content: space-around;
  }

  .flex-tablet-jr {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .flex-mobile-jc {
    display: flex;
    justify-content: center;
  }

  .flex-mobile-ac {
    display: flex;
    align-items: center;
  }

  .flex-mobile-ab {
    display: flex;
    align-items: flex-end;
  }

  .flex-mobile-at {
    display: flex;
    align-items: flex-start;
  }

  .flex-mobile-jb {
    display: flex;
    justify-content: space-between;
  }

  .flex-mobile-ja {
    display: flex;
    justify-content: space-around;
  }

  .flex-mobile-jr {
    display: flex;
    justify-content: flex-end;
  }
}
