.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}


.bg-cover {
  background-size: cover;
  background-position: center;
}

.no-nav {
  height: 100vh !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-c {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.flex-jc {
  display: flex;
  justify-content: center;
}

.flex-ac {
  display: flex;
  align-items: center;
}

.flex-jb {
  display: flex;
  justify-content: space-between;
}

.flex-ja {
  display: flex;
  justify-content: space-around;
}



.pl-100 {
  padding-left: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-90 {
  margin-bottom: 90px;
}