span,
div,
h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Noto Sans TC', serif;
  // font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
    // Arial;
}

h2 {
  font-family: 'DFPingJuStd';
  margin: 0;
  font-weight: normal;
}
h3 {
<<<<<<< HEAD
  font-family: 'Noto Serif TC', serif;
  // font-family: 'Noto Sans TC', serif;
=======
  font-family: 'Noto Serif TC';
  // font-family: 'Noto Serif TC', serif;
>>>>>>> 9121ee9ebd5fb65447ba0f9cece584988d37677e
  margin: 0;
  font-weight: bold;
}

p {
  font-family: 'Noto Serif TC', serif;
  // font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
  //   Arial;
  margin: 0;
}

/* animate css */

/* font */
@font-face {
  font-family: DFPingJuStd;
  src: url('~@/assets/font/DFPingJuStd-W7.otf?#iefix')
      format('embedded-opentype'),
    url('~@/assets/font/DFPingJuStd-W7.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url('~@/assets/font/TimesNewRomanPSMT.ttf') format('truetype'),
    url('~@/assets/font/TimesNewRomanPSMT.ttf');
  font-weight: normal;
  font-style: normal;
<<<<<<< HEAD
}
=======
}

@font-face {
  font-family: TrajanPro;
  src: url('~@/assets/font/Trajan Pro Regular.ttf') format('truetype'), url('~@/assets/font/Trajan Pro Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
>>>>>>> 9121ee9ebd5fb65447ba0f9cece584988d37677e
