span,
div,
h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Noto Sans TC', 'Noto Sans CJK tc',  serif;
}

h2 {
  font-family: 'DFPingJuStd';
  margin: 0;
  font-weight: normal;
}
h3 {
  font-family: 'Noto Serif TC';
  // font-family: 'Noto Sans TC', serif;
  margin: 0;
  font-weight: bold;
}

p {
  font-family: 'Noto Sans TC', serif;
  // font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
  //   Arial;
  margin: 0;
}

/* animate css */

/* font */

@font-face {
  font-family: 'Noto Sans CJK tc';
  src: url('~@/assets/font/NotoSansCJKtc-Bold.otf')
      format('opentype'),
    url('~@/assets/font/NotoSansCJKtc-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans CJK tc';
  src: url('~@/assets/font/NotoSansCJKtc-Light.otf')
      format('opentype'),
    url('~@/assets/font/NotoSansCJKtc-Light.otf');
    font-weight: normal;
    font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans CJK tc';
  src: url('~@/assets/font/NotoSansCJKtc-Regular.otf')
      format('opentype'),
    url('~@/assets/font/NotoSansCJKtc-Regular.otf');
    font-weight: normal;
    font-weight: 400;
}
/*
@font-face {
  font-family: DFPingJuStd;
  src: url('~@/assets/font/DFPingJuStd-W7.otf?#iefix')
      format('embedded-opentype'),
    url('~@/assets/font/DFPingJuStd-W7.otf');
}

@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url('~@/assets/font/TimesNewRomanPSMT.ttf') format('truetype'), url('~@/assets/font/TimesNewRomanPSMT.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Impact;
  src: url('~@/assets/font/Impact.ttf') format('truetype'), url('~@/assets/font/Impact.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: TrajanPro;
  src: url('~@/assets/font/Trajan Pro Regular.ttf') format('truetype'), url('~@/assets/font/Trajan Pro Regular.ttf');
  font-weight: normal;
  font-style: normal;
}*/