span,
div,
h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Noto Sans TC', serif;
}

h2 {
  font-family: 'DFPingJuStd';
  margin: 0;
  font-weight: normal;
}
h3 {
  font-family: 'Noto Sans TC', serif;
  // font-family: 'Noto Sans TC', serif;
  margin: 0;
  font-weight: bold;
}

p {
  font-family: 'Noto Sans TC', serif;
  // font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
  //   Arial;
  margin: 0;
}

/* animate css */

/* font */
@font-face {
  font-family: DFPingJuStd;
  src: url('~@/assets/font/DFPingJuStd-W7.otf?#iefix')
      format('embedded-opentype'),
    url('~@/assets/font/DFPingJuStd-W7.otf');
}

@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url('~@/assets/font/TimesNewRomanPSMT.ttf') format('truetype'), url('~@/assets/font/TimesNewRomanPSMT.ttf');
  font-weight: normal;
  font-style: normal;
}
