span,
div,
h1,
h2,
h3,
h4,
h5,
p{
  // font-family:inherit;
  margin: 0;
  font-family: $family2;
  // font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
  // Arial;

  span {
    font-family:inherit;
  }
}

h2 {
  font-family: "DFPingJuStd";
  margin: 0;
  font-weight: normal;
}
h3{
font-family: $family1;}
label,
span {
  // font-family:'Noto Sans TC',sans-serif;
    font-family:inherit;
  margin: 0;
  //font-weight: bold;
}

/* animate css */

/* font */
@font-face {
  font-family: DFPingJuStd;
  src: url("~@/assets/font/DFPingJuStd-W7.otf?#iefix")
      format("embedded-opentype"),
    url("~@/assets/font/DFPingJuStd-W7.otf");
  font-weight: 300;
}

@font-face {
  font-family: icomoon;
  src: url("~@/assets/font/icomoon.ttf") format("truetype"),
    url("~@/assets/font/icomoon.ttf");
}

@font-face {
  font-family: "TimesNewRomanPSMT";
  src: url("~@/assets/font/TimesNewRomanPSMT.ttf") format("truetype"),
    url("~@/assets/font/TimesNewRomanPSMT.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "khmer";
  src: url("~@/assets/font/KhmerMN.ttf") format("truetype"),
    url("~@/assets/font/KhmerMN.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futurabq";
  src: url("~@/assets/font/futurabq-medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Impact;
  src: url("~@/assets/font/Impact.ttf") format("truetype"),
    url("~@/assets/font/Impact.ttf");
  font-weight: normal;
  font-style: normal;
}
