@function size($size) {
  $c-size: 100vw * $size / 1920;
  @return #{$c-size};
}
@function size-m($size) {
  $c-size: 100vw * $size / 375;
  @return #{$c-size};
}
@function sizem($size) {
  $c-size: 100vw * $size / 375;
  @return #{$c-size};
}

$pagination:#FFF9;
$pagination-active:#fff;

// 主要文字樣式
@mixin txt($fontsize) {
  font-stretch: normal;
  font-style: normal;
  text-align: justify;
  font-size:$fontsize;
  font-weight: 400;
  line-height: 1.6;
  .title{
    font-family: 'Noto Serif TC',sans-serif;
    font-size:2.3em;
    margin:0 auto 0;
    color: #002B69;
    font-weight: 800;
    line-height: 1.4;
  }
    .subtitle{font-size: 1.25em;
      padding:.75em 0 0 0;
      font-weight: 700;
    }
  .desc {
    padding:.8em 0 0 0;
    list-style: circle;
    overflow: hidden;
    li{list-style:inherit;float: left;margin: 0.3em 0 0.3em 1.4em;width:calc(100% - 1.4em);
    }
  }
  @media screen and (max-width: 767px) {
    .title{
      font-size:1.9em;
    }
    .subtitle{
      font-size:1.1em;
    }

  }
}
// 主要文字樣式 END


//圖說樣式
@mixin name() {
  .slide-name{
  position: absolute;
  right:1em;
  bottom:0.5em;
  color: #fff;
  font-size: size(15);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: left;
 text-shadow:0 0.1em 0.3em #000;
}
 @media screen and (max-width: 767px) {
  .slide-name{font-size: sizem(12);} 
}
}