@import '../style/function.scss';
@keyframes swing {
  0% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(20px);
  }
}

.map {
  position: relative;
  // z-index: 1;
  .map-bg {
    width: 100vw;
    height: auto;
    position: relative;
  }

  .hand {
    display: none;
  }

  img {
    display: block;
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .map {
    overflow-x: scroll;
    overflow-y: hidden;
    .map-bg {
      width: auto;
      height: size-m(1233);
    }

    img {
      width: auto;
      height: size-m(1233);
    }

    .hand {
      position: absolute;
      z-index: 2;
      display: block;
      width: size-m(111);
      height: auto !important;
      left: size-m(435);
      right: 0;
      margin: 0 auto;
      top: size-m(940);
      z-index: 10;
      animation: swing 2.5s ease-in-out 0s infinite;
      transition: all .3s;

      &.hide {
        opacity: 0;
      }
    }

    .mask {
      width: 200vw;
      height: size-m(94);
      position: absolute;
      top: size-m(915);
      left: 0;
      background-color: rgba(28, 28, 28, 0.3);
      z-index: 1;
      transition: all .3s;
      &.hide {
        opacity: 0;
      }
    }
  }
}
