@import './function.scss';
@keyframes swing {

 to {
    transform: translateX(-15%);
  }
}

.map {
  position: relative;
  z-index: 1;
  .map-bg {
    width: 100vw;
    height: auto;
    position: relative;
  }

  .hand {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mask {
    width: 300vw;
    height: 130vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: linear-gradient(to bottom,#0000 0%,#000 100%);
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .map {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    .map-bg {
      width: auto;
      height: sizem(604);
    }

    .map-text {
      width: auto;
      height: 100vh;
    }

    img {
      width: auto;
      height: sizem(604);
    }

    .mask {
    //  animation: swing 2.5s ease-in-out 0s infinite;
      left: 50%;
    }

    .mask {
      width: 300vw;
      height: sizem(57);
     // background-color: rgba(179, 57, 0, 0.6);
      // animation: swing 2.5s ease-in-out 0s infinite;
      left: 35vw;
      position: absolute;
      top: sizem(285);
      left: 0;
      opacity: 0;
      transition: opacity .5s;
      &.active {
        opacity: 1;
      }
    }

    .hand {
      position: absolute;
      z-index: 3;
      width: sizem(70) !important;
      height: auto !important;
      left: sizem(750);
      right: auto;
      margin: 0 auto;
      top: sizem(190) !important;
      display: block;
      animation: swing 2s ease-in-out 0s infinite alternate-reverse;
      opacity: 0;
      transition: opacity .5s;
      &.active {
        opacity: 1;
      }
    }
  }
}
