@import './function.scss';
@keyframes swing {
  0% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(20px);
  }
}

.map {
  position: relative;
  z-index: 1;
  .map-bg {
    width: 100vw;
    height: auto;
    position: relative;
  }

  .hand {
    display: none;
  }

  img {
    display: block;
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .map {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    .map-bg {
      width: auto;
      height: size-m(604);
    }

    .map-text {
      width: auto;
      height: 100vh;
    }

    img {
      width: auto;
      height: 100vh;
    }

    .mask {
      width: 300vw;
      height: size-m(804);
      background-color: rgba(172, 221, 254, .7);
      // animation: swing 2.5s ease-in-out 0s infinite;
      left: 35vw;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .5s;
      &.active {
        opacity: 1;
      }
    }

    .hand {
      position: absolute;
      z-index: 2;
      display: block;
      width: size-m(87) !important;
      height: auto !important;
      left: size-m(550);
      right: 0;
      margin: 0 auto;
      top: 65% !important;
      display: block;
      animation: swing 2.5s ease-in-out 0s infinite;
      opacity: 0;
      transition: opacity .5s;
      &.active {
        opacity: 1;
      }
    }
  }
}
