.slide-fade-leave-to

/* .slide-fade-leave-active for below version 2.1.8 */
  {
  // margin-top: 50px !important;
  opacity: 0;
}

// end
.slide-fade-enter {
  margin-top: 10px !important;
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0s cubic-bezier(1, 0.5, 0.8, 1);
}

.mb1 {
  margin-bottom: size(10);

  @include md {
    margin-bottom: sizem(10);
  }
}

.mb2 {
  margin-bottom: size(20);

  @include md {
    margin-bottom: sizem(20);
  }
}

.mb3 {
  margin-bottom: size(30);

  @include md {
    margin-bottom: sizem(30);
  }
}

.mb4 {
  margin-bottom: size(40);

  @include md {
    margin-bottom: sizem(40);
  }
}

.mb5 {
  margin-bottom: size(50);

  @include md {
    margin-bottom: sizem(50);
  }
}

.mb6 {
  margin-bottom: size(60);

  @include md {
    margin-bottom: sizem(60);
  }
}

.mb7 {
  text-align: center;
  line-height: 1.6;
  font-size: size(18);

  @include md {
    font-size: sizem(15);
  }

  a {
    display: inline-block;
    color: #fff;
    background: #46b;
    border-radius: 1em;
    padding: .5em .5em;
    text-decoration: none;
    width: 25em;
    max-width: 100%;
    text-align: center;
    margin: 1em .5em 1em;

    &:hover {
      background: #1d3981;
    }

    @include md {
      margin: 1em 0em 1em;
    }
  }
}

.mb8 {
  img {
    max-width: 100%;
    vertical-align: baseline;
  }
}

.mb9 {
  font-size: size(18);
  width: size(1040);
  margin: 1em auto 5em auto;
  max-width: 100%;
  text-align: left;
  line-height: 1.4;

  @include md {
    width: 100%;
    font-size: sizem(15);
  }

  h2 {
    display: block;
    padding: 0.5em .5em;
    background: #46b;
    color: #fff;
    font-size: 1.2em;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    text-indent: -2em;
    padding-left: 2em;
    margin-bottom: .7em;
  }

  span {
    color: red;
    font-weight: bold;
  }

  a {
    color: blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.section2 {
  width: 100%;
  // height: size(715);
  position: relative;
  margin: 0;
  // background: url('s1/bg.jpg') center;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  // background-color: rgba(17, 17, 3, 0.11);

  // 手機版
  @include md {
    // height: 100vh;
    // height: size(604);
    // min-height: calc(604 * 100vw / 375);
    // max-height: calc(812 * 100vw / 375);
  }
}

.container {
  width: size(1240);
  margin: size(53) auto;

  @include md {
    width: sizem(310);
  }
}

.content {
  text-align: left;
}

.content1 {
  width: size(572);

  @include md {
    width: 100%;
  }
}

.title {
  font-size: size(34);

  &.gold {
    color: #b18863;
  }

  @include md {
    font-size: sizem(28);
  }
}

.subtitle {
  display: inline-block;
  font-size: size(28);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: size(1.4);
  text-align: left;
  border-bottom: 1px solid #000;
  color: #000;

  @include md {
    font-size: sizem(18);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
}

.desc {
  // @include img_c_pc(1234, 170);
  font-size: size(18);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: size(1.44);
  text-align: left;
  color: #000;

  @include md {
    font-size: sizem(15);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
}

.label {
  font-size: size(28);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: size(1.4);
  text-align: left;
  color: #000;

  @include md {
    font-size: sizem(18);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
}

.desc1 {
  width: size(833);
  text-align: left;

  @include md {
    width: 100%;
  }
}

.img1 {
  width: 100%;

  @include md {
    width: 100vw;
    margin-left: sizem(-32.5);
  }
}

.img2 {
  width: size(630);

  @include md {
    width: 100%;
  }
}

// .img {
//   @include img_c_pc(1234, 321);
// }

.type-tab {
  margin: sizem(20) auto sizem(30) auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;

  .tab {
    font-size: sizem(15);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: sizem(1.4);
    text-align: left;
    color: #808080;
    border-bottom: 1px solid #808080;
    margin: 0 0 1em 0;
    cursor: pointer;
    white-space: nowrap;

    &.active {
      color: #000;
      border-bottom: 1px solid #000;
    }
  }
}

.head {
  position: relative;
  width: 100%;
  text-align: left;
}

.pages {
  float: right;margin:0.3em 0 0 0;
  font-size: size(18);
          filter: brightness(0) invert(.3);

  img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin: 0 .3em .3em 0;
    display: inline-block;
    
  }
  &:hover {
          filter: brightness(0) invert(0);
          border-bottom:1px solid #333;
  }
  
  @include md {
  font-size: sizem(15);margin:0 0 .5em 0;
  }
}

.current-tab {
  font-size: size(20);
  font-weight: 500;
  display: inline-block;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fff;
  background-color: #000;
  padding: 0.3rem 0.5rem;
  margin-bottom: size(45);

  @include md {
    width: 100%;
    font-size: sizem(20);
    margin-bottom: sizem(30);
  }
}

.card {
  width: size(370);
  margin-bottom: size(78);
  cursor: pointer;
  margin-right: size(63);

  &:nth-child(3n) {
    margin-right: 0;
  }

  @include md {
    width: 100%;
    margin-right: 0;
    margin-bottom: sizem(60);
  }
}

.card-img {
  position: relative;
  width: 100%;
  height: size(370);

  @include md {
    height: sizem(310);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
  }

  .add-btn {
    position: absolute;
    font-size: size(42);
    font-weight: 300;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    width: size(45);
    height: size(45);
    right: size(10);
    bottom: size(10);

    @include md {
      font-size: sizem(42);
      width: sizem(45);
      height: sizem(45);
      right: sizem(10);
      bottom: sizem(10);
    }
  }
}

.card-content {
  font-size: size(28);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: size(1.4);
  text-align: left;
  color: #000;
  border-bottom: solid 1px #4d4d4d;

  @include md {
    font-size: sizem(23);
  }
}


.update-info {
  margin: 0 auto;
  //padding: 24px;
  line-height: 1.8;
  color: #333;
  text-align: left;
  &::after{content: "";
  display: block;
  clear: both;
  }
  
  .img {
    position: relative;
    float: right;
    width: 40%;
    margin-left: 24px;

    .caption {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.3em 0.5em;
      color: #fff;
      font-size: 14px;
    }

    img {
      width: 100%;
      vertical-align: bottom;
    }

    @include md {
      width: 100%;
      float: none;
      margin: auto;

      .caption {
        font-size: 11px;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 12px 0;
    border-bottom: 1px solid #0003;
    font-size: 15px;
    display: flex;
  }

  li strong {
    display: block;
    min-width: 7.5em;
    font-size: 1.1em;
    color: #111;float: left;
    height: 100%;
  }

  /* 透視圖提示樣式 */
  li:last-child {
    border-bottom: none;
  }

  /* RWD */
  @media (max-width: 768px) {
   // padding: 16px;
  

    h2 {
      font-size: 18px;
    }

    li {
      font-size: 14px;
    display: block;
    }

    li strong {
      display: block;
      margin-bottom: 4px;
      min-width: auto;
      float: none;
  }
    }
  }
/*
.pages {
  font-size: size(25);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  text-align: left;
  color: #333;

  @include md {
    display: none;
  }

  .page-btn {
    width: size(40);
    text-align: center;
    border-right: 1px solid #c59c63;
    cursor: pointer;

    &:nth-last-child(1) {
      border-right: none;
    }
  }
}
  */