/* html, body */
$bg: #fff;

/* navigation */
$nav_bg: #035488;
$nav_btn_color: #fff;
$nav_link_color: #fff;
$nav_link_subtitle_color: #fff;
$nav_link_hover_color: #ccc;
$nav_link_hover_bg: rgba(200, 150, 0, 0.2);

/* loading */
$loading_bg_color: rgba(68, 68, 68, .7);
$loading_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$loading_icon_color: #c0802e #c0802e transparent;

/* astrictMask */
$mask_bg_color: #fff;
$mask_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$mask_color: #333;
$mask_icon_color: #c82514;

/* contactSection */
// order
$order_bg_color: transparent;
$order_bg_image: url('~@/assets/img/order-bg.jpg');
$order_bg_image_m: url('~@/assets/img/order-bg.jpg');
$order_title_color: #004e8f;
$order_subtitle_color: #545454;
$order_input_label_color: #231815;
$order_input_color: #333 !important;
$order_input_placeholder: #666 !important;
$order_input_bg: #fff !important;
$order_input_border: solid 1px #004e8f !important; 
$order_input_focus_border: solid 1px #000 !important;
$order_input_selected_color: solid 1px #000 !important;
$order_check_desc_color: #004e8f !important;
$order_check_span_color: #004e8f !important;
$order_submit_bg: transparent !important;
$order_submit_color: #004e8f !important;
$order_sumbit_disable_bg: #999 !important;

// contactInfo
$contact_bg: #035480;
$contact_shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);

$contact_btn_border: inset 0 0 0px 1px #fff;
$contact_btn_color: #fff;
$contact_btn_icon: #fff;
$contact_btn_bg: transparent;
$contact_btn_hover_color: #035480;
$contact_btn_hover_icon: #035480;
$contact_btn_hover_bg: #fff !important;

$contact_google_hover_btn_color: #fff;
$contact_google_hover_btn_icon: #fff;
$contact_google_hover_btn_bg: #b96880 !important;
$contact_google_btn_color: #fff;
$contact_google_btn_icon: #fff;
$contact_google_btn_bg: #b96880 !important;


// houseInfo
$house_bg: #fff;
$house_title_color: #040000;
$house_label_color: #395561;
$house_desc_color: #395561;

// mobileNav
$mobile_nav_background: #035488;
$mobile_nav_color: #fff;
$mobile_nav_border: #fff;
$mobile_nav_icon: #fff;

$mobile_dialog_bg: #fff;
$mobile_dialog_icon: #035488;
$mobile_dialog_desc: #035488;
$mobile_dialog_submit_bg: #035488;
$mobile_dialog_submit_color: #fff;



/* dialog */
/* PhoneThanks.vue */
$phone_thanks_bg: url('~@/assets/img/thank_bg.png');
$phone_thanks_title_color: #fff;
$phone_thanks_desc_color: #fff;
$phone_thanks_link_color: #fff;