/* html, body */
$bg: #fff;

/* navigation */
$nav_bg: transparent;
$nav_btn_color: #fff;
$nav_link_color: #fff;
$nav_link_subtitle_color: #fff;
$nav_link_hover_color: #fff;
$nav_link_hover_bg: url('~@/assets/img/menu_hover.png');

/* loading */
$loading_bg_color: #fff;
$loading_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$loading_icon_color: #c0802e #c0802e transparent;

/* astrictMask */
$mask_bg_color: #fff;
$mask_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$mask_color: #333;
$mask_icon_color: #c82514;

/* contactSection */
// order
$order_bg_color: transparent;
$order_bg_image: linear-gradient(to top, rgba(0, 0, 0, 0.24), rgba(156, 30, 35, 0));
$order_title_color: #fff;
$order_subtitle_color: #fff;
$order_input_label_color: #dfae2e;
$order_input_color: #dfae2e !important;
$order_input_placeholder: #dfae2e !important;
$order_input_bg: rgba(0, 0, 0, .15) !important;
$order_input_border: solid 1px rgba(255, 255, 255, 0.5) !important; 
$order_input_focus_border: solid 1px #dfae2e !important;
$order_input_selected_color: solid 1px #dfae2e !important;
$order_check_desc_color: #dfae2e !important;
$order_check_span_color: #fff !important;
$order_submit_bg: linear-gradient(to right, #c29b51, #f7f5bb 35%, #f7f5bb 35%, #e1c176 71%, #ad7a36 100%) !important;
$order_submit_color: #000 !important;
$order_sumbit_disable_bg: rgba(0, 163, 152, .4) !important;

// contactInfo
$contact_bg: url('~@/assets/img/contact-bg.png');
$contact_shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);

$contact_btn_border: 0 0 0px 1px #c0802e;
$contact_btn_color: #333;
$contact_btn_icon: #c0802e;
$contact_btn_bg: #fff;
$contact_btn_hover_color: #fff;
$contact_btn_hover_icon: #fff;
$contact_btn_hover_bg: #c0802e !important;

$contact_google_hover_btn_color: #fff;
$contact_google_hover_btn_icon: #fff;
$contact_google_hover_btn_bg: transparent;
$contact_google_btn_color: #fff;
$contact_google_btn_icon: #fff;
$contact_google_btn_bg: #c0802e !important;


// houseInfo
$house_bg: #fff;
$house_title_color: #c0802e;
$house_label_color: #c0802e;
$house_desc_color: #000;

// mobileNav
$mobile_nav_background: #333;
$mobile_nav_color: #fff;
$mobile_nav_border: #fff;
$mobile_nav_icon: #c0802e;

$mobile_dialog_bg: #fff;
$mobile_dialog_icon: #c0802e;
$mobile_dialog_desc: #000;
$mobile_dialog_submit_bg: #c0802e;
$mobile_dialog_submit_color: #fff;



/* dialog */
/* PhoneThanks.vue */
$phone_thanks_bg: #c82514;
$phone_thanks_title_color: #fff;
$phone_thanks_desc_color: #fff;
$phone_thanks_link_color: #fff;