@import './function.scss';
/* navigation */
$nav_pc_height: 3.7em;
$nav_tablet_height:3.7em;
$nav_phone_height:calc(100vw * 70 / 375);
$logo_pc_width: calc(100vw * 130 / 1920);
$logo_tablet_width: calc(100vw * 130 / 1920);
$logo_phone_width: 120px;

/* contactInfo */
$contact_logo_pc_width:  calc(100vw * 309 / 1920);
$contact_logo_tablet_width: calc(100vw *309  / 1920);
$contact_logo_mobile_width: calc(100vw * 140 / 375);

// for calculate
$nav_pc_height_number: 60;
$nav_tablet_height_number: 60;
$nav_phone_height_number: 120;
