/* html, body */
$bg: #fff;

/* navigation */
$nav_bg: #fff;
$nav_bg: url('~@/assets/img/nav-bg.png');
$nav_btn_color: #333;
$nav_link_color: #fff;
$nav_link_subtitle_color: #fff;
$nav_link_hover_color: #fff;
$nav_link_hover_bg: #D49F5B;

/* loading */
$loading_bg_color: #fff;
$loading_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$loading_icon_color: #D49F5B #D49F5B transparent;

/* astrictMask */
$mask_bg_color: #fff;
$mask_bg_image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.24),
  rgba(156, 30, 35, 0)
);
$mask_color: #333;
$mask_icon_color: #c82514;

/* contactSection */
// order
$order_bg_color: #333;
$order_bg_image: linear-gradient(to top, rgba(0, 0, 0, 0.24), rgba(156, 30, 35, 0));
$order_title_color: #fff;
$order_subtitle_color: #eee;
$order_input_label_color: #fff;
$order_input_color: #fff !important;
$order_input_bg: rgba(255, 255, 255, 0.1) !important;
$order_input_border: solid 1px rgba(255, 255, 255, 0.4) !important; 
$order_input_focus_border: solid 1px #D49F5B !important;
$order_input_selected_color: solid 1px #D49F5B !important;
$order_check_desc_color: #fff !important;
$order_check_span_color: #D49F5B !important;
$order_submit_bg: #D49F5B !important;
$order_submit_color: #333;
$order_sumbit_disable_bg: rgba(212, 159, 91, .4) !important;

// contactInfo
$contact_bg: #fff;
$contact_shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);

$contact_btn_border: 0 0 0px 1px #D49F5B;
$contact_btn_color: #333;
$contact_btn_icon: #D49F5B;
$contact_btn_bg: transparent;
$contact_btn_hover_color: #fff;
$contact_btn_hover_icon: #fff;
$contact_btn_hover_bg: #D49F5B;

$contact_google_hover_btn_color: #333;
$contact_google_hover_btn_icon: #D49F5B;
$contact_google_hover_btn_bg: transparent;
$contact_google_btn_color: #fff;
$contact_google_btn_icon: #fff;
$contact_google_btn_bg: #D49F5B;


// houseInfo
$house_bg: #fff;
$house_title_color: #000;
$house_label_color: #D49F5B;
$house_desc_color: #000;

// mobileNav
$mobile_nav_background: #333;
$mobile_nav_color: #fff;
$mobile_nav_border: #fff;
$mobile_nav_icon: #D49F5B;

$mobile_dialog_bg: #fff;
$mobile_dialog_icon: #D49F5B;
$mobile_dialog_desc: #000;
$mobile_dialog_submit_bg: #D49F5B;
$mobile_dialog_submit_color: #fff;



/* dialog */
/* PhoneThanks.vue */
$phone_thanks_bg: #c82514;
$phone_thanks_title_color: #fff;
$phone_thanks_desc_color: #fff;
$phone_thanks_link_color: #fff;