@import "./function.scss";
/* navigation */
$nav_pc_height: size(100);
$nav_tablet_height: 60px;
$nav_phone_height: 0px;
$logo_pc_width: calc(100vw * 100 / 1920);
$logo_tablet_width: calc(100vw * 150 / 1920);
$logo_phone_width: 50px;

/* contactInfo */
$contact_logo_pc_width: 700px;
$contact_logo_tablet_width: size(500);
$contact_logo_mobile_width: sizem(280);

// for calculate
$nav_pc_height_number: 60;
$nav_tablet_height_number: 60;
$nav_phone_height_number: 120;
